<div class="icon-text-container">
    <img src='{{ .Get "icon" }}' alt="App Icon" class="icon">
    <div class="text-content">
        {{ if .Get "title" }}
        <h3 class="text-title">{{ .Get "title" }}</h3>
        {{ end }}

        {{ .Inner | markdownify }}
        {{ if .Get "appstore" }}
        <div class="appstore-badge">
            <a href='{{ .Get "appstore" }}'>
                <img src="/img/appstore_badge.png" alt="Download on the App Store" style="height: 60px;">
            </a>
        </div>
        {{ end }}
    </div>
</div>
