<div class="ride-import-container">
    <div class="download-buttons">
        <a href="https://apps.apple.com/app/id6553947036">
            <img src="/img/appstore_badge.png" alt="Download on the App Store" style="height: 60px;">
        </a>
    </div>
    <div class="screenshots">
        {{ with .Get "screenshot1" }}
        <img src="{{ . }}" alt="Ride Import Screenshot 1">
        {{ end }}
        {{ with .Get "screenshot2" }}
        <img src="{{ . }}" alt="Ride Import Screenshot 2">
        {{ end }}
        {{ with .Get "screenshot3" }}
        <img src="{{ . }}" alt="Ride Import Screenshot 3">
        {{ end }}
    </div>
</div>
